body {
  text-align: center;
  font-family: 'Curiel';
  background-image: url('dale1.jpg');
  background-repeat: no-repeat;
  background-size: 1500px 800px;
  color: #014a85;
}

.Container {
  width: 70%;
  padding: 1em;
  margin: 0 auto;

}
.cabecera {
  display: flex;
  justify-content: center;
}

.Hyperblog {
  color: #0a557a;
  font-size: 30px;
}


.cabecera p {
  margin: 0px;
}

.cabecera img {
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

.Container h1 {
  font-size: 37px;
}

.Container p{
  font-size: 23px;
  line-height: 25px;
  font-size: 20px;
}
